﻿@model Znode.Engine.Admin.ViewModels.PricePortalListViewModel
@using Znode.Engine.Admin.Models
@using Znode.Libraries.Resources
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.HeaderPricing)<i class="z-minus"></i><span>@Model.ListName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "Price", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/Views/Shared/_asidePricePanel.cshtml")
        <div id="associate-store-btn" style="display:none"></div>

        <div id="associatestorelist" class="aside-popup-panel">
            @*store list will display in this div*@
        </div>

        <div id="storePrecedence" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div id="storePrecedence">
                    @*precedence edit will display in this div*@
                </div>
            </div>
        </div>
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm("GetAssociatedStoreList", "Price", new { priceListId = Model.PriceListId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(x => x.PriceListId)
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "PricePortalDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Price.prototype.DeleteAssociatedStores(this,'"+Model.PriceListId+"')"}
                         }
                    })
        </section>
        @Html.HiddenFor(m => m.PriceListId)
        @Html.HiddenFor(m => m.ListName)
    </div>
</div>
<script>
    $(document).ready(function () {
        Price.prototype.EditAssociatedStoresPrecedence();
    });
</script>