﻿.home-slider{
    .owl-carousel{
        //  Change later (text-alignment from admin side).
        .carousel-caption{position:relative;padding:20px;top:0;flex:1;transform:translate(0,0);max-width:100%;
            .first{font-size:24px;}
            h3{font-size:35px;}
            div{font-size:18px;}
            button{margin:15px 0 5px 0;}
        }
    }
    .slider{
        .item{
            a{overflow:hidden;display:flex;justify-content:center;flex-wrap:wrap;background-color:$base-primary-light;width:100%;}
            img{height:185px;width:auto;position:relative;}
        }
        .owl-pagination{position:relative;padding-top:10px;}
        .owl-buttons{
            .owl-prev,.owl-next{top:40%;}
        }
    }
}
.advertisement-banner{padding:0 5px;
    .owl-item{padding:5px 10px 35px;
        .item{box-shadow:$box-shadow;border-radius:$primary-radius;
            &:hover{box-shadow:$box-shadow-hover;}
            > a{display:flex;padding:25px;flex-wrap:wrap;width:100%;
                img{order:1;width:100%;max-width:82px;max-height:82px;align-self:center;}
                .carousel-caption{text-shadow:none;position:relative;order:2;left:0;top:0;transform:translate(0,0);margin-right:0;margin-top:10px;width:100%;text-align:center;
                    .promo-title{font-family:$base-font-family-bold;font-size:$base-font-size + 5;color:$text-primary;letter-spacing:1.25px;text-transform:uppercase;}
                    .promo-description{font-family:$base-font-family;font-size:$base-font-size + 2;color:$base-tertiary;letter-spacing:0.88px;line-height:20px;margin:10px 0;}
                    .btn{border-color:$base-tertiary-light;display:block;margin:10px auto 0;padding:15px 20px;}
                }
            }
        }
    }
}
.featured-products{padding-top:40px;padding-bottom:40px;
    .featured-products-block{padding:0;}}
.carousel-card {padding: 2rem 0;}
.user-promotion-msg{font-size:16px;color: $base-secondary-light;padding: 10px;}
.loged-out-product-details{padding:10px 0;
    .loged-out-product-title{font-family:$base-font-family-bold;font-size:$base-font-size + 1;}
    .loged-out-product-text{font-size:$base-font-size;}
    a{text-decoration:underline;}
}
.product-list-title{text-align:center;font-size:$base-font-size + 6;text-transform:uppercase;}
//  Used on home page and category list page
.view-option-category{padding:0 5px;list-style:none;display:flex;flex-wrap:wrap;
    li{width:50%;}
    .b2b-categories{padding:10px;text-align:center;}
    a{width:100%;display:block;
        &:hover{
            img{box-shadow:$box-shadow-hover;}
            label{cursor:pointer;}}}
    img{padding:15px;box-shadow:$box-shadow;border-radius:$primary-radius;width:100%;margin-bottom: 15px !important;height:250px;}
    label, span{width:100%;padding-top:15px;text-align:left;font-family:$base-font-family-bold;font-size:$base-font-size + 2;text-transform:uppercase;}
}
//  Used on home page and product list page
.b2b-products {padding: 10px;
              .product-item {box-shadow: $box-shadow;padding: 20px;border-radius: $primary-radius;position: relative;width: 100%;&:hover {box-shadow: $box-shadow-product;
              .title {color: $base-primary-light;}}
              .view-item {.image {margin-bottom: 15px;min-height: 250px;display: flex;justify-content: center;align-items: center;}
              .title {font-size: $base-font-size + 2;text-transform: capitalize;max-height: 48px;overflow: hidden;min-height:50px;}
              .recommend-product-title a {color: #424242;}
              .product-details {.price {font-size: $base-font-size + 8;font-family: $base-font-family-bold;}.product-rating {font-size: $base-font-size - 1.5;}}
        }}}
.read-reviews{text-decoration:underline;margin-left:10px;}
.quick-view-content{
    .product-overview{padding-top:24px;}}
//track order
.track-order{float:right;padding-right:10px;
    a{color:$white;font-size:$base-font-size;}
    i{color:$white; font-style:normal;font-size:$base-font-size + 2px;vertical-align:middle;}
}
//Content Blocks for Contact Us Today and Register Today
.homepageblock1 {background: url(../../Images/promo-banner-bg.gif) repeat 0 0;min-height: 270px;width: 100%;float: left;border-bottom: 4px solid #999;margin-right: 4%;
                  h3 {background: url(../../Images/image-sprite.jpg) repeat -623px -350px;max-height: 85px;color: $btn-secondary;font-size: $base-font-size + 12px;font-weight: 400;line-height: 24px;padding: 28px 35px 32px;text-align: center;margin: 0;}
                  p {color: #333;padding: 20px 33px 24px 30px;font-size: $base-font-size + 4;text-align: center;
                     .envelop-icon{padding-right: 10px;}
                     img{margin-right: 10px;}
                     a:first-child {color: $base-primary;font-size: $base-font-size + 6;cursor: pointer;font-family: $base-font-family-bold;}
                        span {font-size: $base-font-size + 6;font-family: $base-font-family-bold;}
                          a:last-child {border: 2px solid #333;display: inline-block;font-weight: normal;text-align: center;text-transform: uppercase;font-size: 16px;padding: 13px 20px 11px;display: inline-block;line-height: 16px;color: #333;}}
}
.homepageblock2 {background: url(../../Images/promo-banner-bg.gif) repeat 0 0;min-height: 270px;width: 100%;float: left;border-bottom: 4px solid #999;margin-right: 4%;
  h3 {background: url(../../Images/image-sprite.jpg) repeat -623px -350px;max-height: 85px;color: #fff;font-size: $base-font-size + 10;font-weight: 400;line-height: 24px;padding: 28px 35px 32px;text-align: center;margin: 0;}
  p {color: #333;padding: 20px 33px 24px 30px;font-size: $base-font-size + 4;text-align: center;
   a {border: 2px solid #333;display: inline-block;font-weight: normal;text-align: center;text-transform: uppercase;font-size: $base-font-size + 2;padding: 13px 20px 11px;display: inline-block;line-height: 16px;color: #333;margin-top: 36px;}}}
@include screensize(x-small){.home-slider{height: 280px;}
    .homepageblock1{h3{padding: 13px 35px 32px;}}
    .homepageblock2{h3{padding: 11px 32px 32px;}p{a{margin-top: 39px;}}}}
@include screensize(small){.home-slider{height: 220px;}.homepageblock2{p{a{margin-top: 71px;}}}}
@include screensize(medium){.home-slider{height: 280px;}.homepageblock2{p{a{margin-top: -5px;}}}}
@include screensize(desktop){.home-slider{height: 360px;}.homepageblock2{p{a{margin-top: 20px;}}}}
@include screensize(large){.homepageblock1{h3{padding: 28px 35px 32px;}}
                            .homepageblock2{h3{padding: 28px 35px 32px;}p{a{margin-top: 38px;}}}}
@include screensize(x-large){.home-slider{height: 500px;}}
//About S&S Sales widget
.aboutus-text {h1{font-size: $base-font-size + 10;margin: 8px 0 17px;line-height: 26px;}
               a{color: $base-primary;font-size: $base-font-size + 2;font-family: $base-font-family-bold;text-transform: uppercase;position: inherit;}
               p{font-size: $base-font-size + 2;padding-bottom: 10px;}}
.brands-section{.brand-title{span{font-size: $base-font-size;float: right;font-weight: bold;text-transform: uppercase!important;}}.brand-list-widget{ul{padding:0px;}}.owl-carousel{.owl-buttons{.owl-prev{float: left;margin-top: -180px;z-index: 999;position: relative;}
                                           .owl-next{float: right;margin-top: -180px;z-index: 999;position: relative;} }}}
@include screensize(x-small){.brands-section{.brand-title{span{margin-top: 0px;}}.product-list-title{margin-top:40px;margin-bottom:40px;}}}
@include screensize(xl-small) {
    .home-slider {
        .slider {
            .item {
                a {
                    overflow: visible;
                    display: block;
                }
                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}
@include screensize(small){
    .product-list-title{font-size:$base-font-size + 12;margin-top:40px;}
    .home-slider{
        .owl-carousel{
            .carousel-caption{position:absolute;background-color:transparent;padding:0;top:50%;transform:translate(0,-50%);
                .first{font-size:24px;}
                h3{font-size:40px;}
                div{font-size:18px;}
            }
        }
        .slider{
            .owl-pagination{position:absolute;padding-top:0;}
            .owl-buttons{
                .owl-prev,.owl-next{top:50%;}
            }
        }
    }
    .advertisement-banner{padding:30px 5px;
        .owl-item{padding:10px 5px;
            .item{
                > a{flex-wrap:nowrap;
                    img{order:2;}
                    .carousel-caption{order:1;margin-right:10px;margin-top:0;text-align:left;
                        .promo-description{font-size:$base-font-size;}
                        .btn{display:block;margin:0;padding:10px 20px;}
                    }
                }
            }
        }
    }
    .b2b-products .product-item:hover .btn-quick-view{display:block;}
    .view-option-category li{width:25%;}
    .brands-section{.brand-title{span{margin-top: -66px;}}}
}
@include screensize(medium){
    .brand-list li{width:30%!important;padding:0px!important;}
    .product-grid-ul li{width:20%;padding:15px;}
    .advertisement-banner .owl-item .item > a .carousel-caption .btn{padding:10px 15px;}
}
.product-categories{min-height:500px;}
.featuredproducts{min-height: 640px;}
//HomeContent Above Footer
.content-image {
    background: #5e0d0d url(../../Images/image-sprite.jpg) no-repeat center -30px;
    padding: 10px 0px 10px 0px;
    color: #fff;
    font-size: 16px;
    text-align:left;
    position:fixed;
    bottom:0px;
    z-index:999;
}
