﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    /*Nivi*/
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    SelectListItem firstitem = new SelectListItem();
    firstitem.Text = "Select";
    firstitem.Value = "Select";
    selectListItems.Add(firstitem);
    /*Nivi*/

}

@if (attributes?.Count > 0)
{
    foreach (var att in attributes?.OrderBy(x => x.DisplayOrder)?.ThenBy(x => x.AttributeCode))
    {
        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-12 p-0 my-4 b2b-dynamic-addons">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="section-header">@att.AttributeName</label>
                        </div>
                        <div class="col-12 p-0">
                            @*/*Nivi*/*@
                            @*<ul class="swatch-img size-swatch p-0">*@
                            @foreach (var color in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                            {
                                @*<li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" alt="@image.AttributeValue" /></label>
                                    </li>*@
                                SelectListItem item = new SelectListItem();
                                item.Text = color.AttributeValue;
                                item.Value = color.AttributeValue;
                                selectListItems.Add(item);
                            }
                            @Html.DropDownList("Color", new SelectList(selectListItems, "Value", "Text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown", code = att.AttributeCode, type = "Dropdown", @onchange = "" })
                            @*</ul>*@
                            @*/*Nivi*/*@
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-12 p-0 my-3 b2b-dynamic-addons">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="section-header">@att.AttributeName</label>
                        </div>
                        <div class="col-12 p-0">
                            @*/*Nivi*/*@
                            @*<ul class="swatch-img size-swatch p-0">*@
                            @foreach (var color in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                            {
                                @*<li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" alt="@image.AttributeValue" /></label>
                                    </li>*@
                                SelectListItem item = new SelectListItem();
                                item.Text = color.AttributeValue;
                                item.Value = color.AttributeValue;
                                selectListItems.Add(item);
                            }
                            @Html.DropDownList("Color", new SelectList(selectListItems, "Value", "Text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown", code = att.AttributeCode, type = "Dropdown", @onchange = "" })
                            @*</ul>*@
                            @*/*Nivi*/*@
                        </div>
                    </div>
                </div>
                break;
            default:
                <div class="col-12 p-0 my-3 b2b-dynamic-addons">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="section-header">@att.AttributeName</label>
                        </div>
                        <div class="col-12 p-0">
                            @*/*Nivi*/*@
                            @*<ul class="swatch-img size-swatch p-0">*@
                            @foreach (var color in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder).ThenBy(x => x.AttributeValue))
                            {
                                @*<li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" alt="@image.AttributeValue" /></label>
                                    </li>*@
                                SelectListItem item = new SelectListItem();
                                item.Text = color.AttributeValue;
                                item.Value = color.AttributeValue;
                                selectListItems.Add(item);
                            }
                            @Html.DropDownList("Color", new SelectList(selectListItems, "Value", "Text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown", code = att.AttributeCode, type = "Dropdown", @onchange = "" })
                            @*</ul>*@
                            @*/*Nivi*/*@
                        </div>
                    </div>
                </div>
                break;
        }
    }
}
@*@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
    {
        <div class="col-12 p-0">
            <span class="error-msg">
                @Model.CombinationErrorMessage
            </span>
        </div>
    }*@