﻿@using Znode.Engine.WebStore.Agents
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    int portalId = _portal.PortalId;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    bool isPDPRecommendationEnabled = (PortalAgent.CurrentPortal?.RecommendationSetting?.IsPDPRecommendation).GetValueOrDefault();
}
<div id="layout-product" class="main-wrapper product-meta big-view-template col" data-id="@productId" data-sku="@Model.SKU">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div data-test-selector="divBreadCrumb" id="breadCrumb" class="col breadcrumb-container"></div>
            </div>
        </div>
    </div>
    <div class="row b2b-product-view-details">
        <div class="container">
            <div class="row product-view-details">
                <!--Get Product Images-->
                <div class="col-12 col-lg-5 product-images">
                    @Html.Partial("_ProductImageZoomEffect", Model)
                </div>
                <!--Get Product details like short decription and higlights-->
                <div class="col-12 col-lg-7 pl-lg-4 product-overview">
                    @Html.Partial("_ProductOverview", Model)
                    @Html.Partial("_ProductInfo", Model)
                </div>
            </div>
        </div>
        <div class="col-12 b2b-product-tabs mt-5">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <!--Get Product content like features and cutomer reviews-->
                        @Html.Partial("_ProductContent", Model)
                    </div>
                </div>
            </div>
        </div>

        @if (isPDPRecommendationEnabled == true)
        {
            <div class="col-12 carousel-card">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0" data-test-selector="divRecommendedProductList">
                            <!--Recommended Products Widget, will be displayed on PDP page-->
                            <z-widget>
                                @Html.WidgetPartialAjax("PDPRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
                            </z-widget>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-12">
            <div class="row">
                <div class="col-12 p-0 product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
    
    <input type="hidden" id="isB2B" value="true" />
</div>
@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PDPTracking.cshtml", Model.GetEcommerceDetailsOfProduct())
<script>
    $(document).ready(function () {
        $('title').html("@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
});
</script>
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
<script>
    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();
    // Setup thumbnails example
    var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

    $(".Product_Altimages .item").on('click', 'a', function (e) {
        var $this = $(this);
        e.preventDefault();
        // Use EasyZoom's `swap` method
        api1.swap($this.data('standard'), $this.attr('href'));
    });

    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        {
            loading_image: '@Helper.GetThemeFilePath($"/Views/Themes/", "/Images/loading.gif")',
    open_lens_event: 'click'
}
);
</script>
