﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<footer id="layout-footer" class="footer" role="contentinfo">
    <div class="col-12 news-letter">
        <div class="container">
            <div class="row news-letter-container justify-content-center" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-6 p-0 newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <z-widget>@Html.WidgetPartial("Footer", "Footer", "102", "PortalMapping")</z-widget>
</footer>
