﻿.footer {
    background: $footer-color url(../../Images/footer-pattern.jpg) repeat 0 0;

    .footer-contact-box {
        color: #7b8994;
        img{width:9%;margin-right: 10px;}

        .phone-number {
            font-size: $base-font-size + 8;
            font-weight: 700;
            color: $white;
            margin-bottom: 8px;
        }
    }

    .footer-block {
        .list-unstyled {
            li {
                .right-icon{display:none;}
            }
        }

        .footer-header {
            font-size: $base-font-size + 4;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: $white;
            background-color: transparent;
            border-bottom: 1px solid #9eaaaf;
            line-height: 45px;
        }

        .footer-text {
            margin-bottom: 15px;
            font-size: $base-font-size + 1;
            color: $footer-txt;
        }

        .footer-store-number {
            color: $footer-txt;
            font-size: $base-font-size + 3;
            background-color: transparent;
        }

        a {
            color: #9eaaaf;
            text-decoration: none;
            line-height: 26px;
            font-size: $base-font-size;
        }
        /*img {
            max-width: 220px;
            width: 100%;
        }*/
        ul.link-panel-widget {
            padding: 0;
            list-style: none;
        }
    }

    .news-letter {
        border-bottom: 4px solid $base-primary;

        .news-letter-container .newsletter-container {
            label {
                font-size: $base-font-size + 4px;
                text-transform: uppercase;
                margin-bottom: 0px;
                color: $white;
            }

            input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .btn-newsletter {
                margin-left: 6px;

                button {
                    border-radius: 0px;
                }
            }
        }
    }
}
.footer-copyright {
    font-size: $base-font-size;
    color: $footer-txt;
    background-color: rgba(0,0,0,.5);
    color: #666;
    min-height:95px;
}
.copyright-text {
    text-align: center;
    color: #666;
    padding: 15px 0;
    position: inherit;
}