﻿.dropdown-btn, select {
    border: 0;
    font-size: $base-font-size;
    width: 100%;
    border: 1px solid #9e9e9e;
    box-shadow: none;
    outline: medium none;
    background-color: #fafafa;
    border-radius: 2px;
    height: 38px;
    font-family: $base-font-family-bold;
    border-radius: 0 !important;

    &:after {
        display: none;
    }
}
select::-ms-expand { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
.ie select { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
select:-webkit-autofill{background:$white url('../../Images/drop-arrow.png') no-repeat right 5px center !important;}
@include screensize(x-small) {
    .dropdown-btn, select {
        padding: 0 27px 0 5px;
    }
}
@include screensize(xl-small) {
    .dropdown-btn, select {
        padding: 0 35px 0 5px;
    }
}
.AttributeDropDown {
    width: 255px;
    padding: 9px 10px 9px 10px;
    border: 1px solid $base-tertiary-light;
}