﻿@model Znode.Engine.Admin.ViewModels.ContentWidgetViewModel
@using Znode.Engine.Admin.ViewModels;
@using Znode.Engine.Admin.Models;
@using Znode.Libraries.ECommerce.Utilities;
@{
    ViewBag.Title = Admin_Resources.TitleCMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateContentWidget", CancelUrl = "/ContentWidget/List", IsSaveCloseEnable = true, Callback = "ContentWidget.prototype.ValidateData" };
}
<div class="col-sm-12 title-container">
    @if (actionName.ToLower().Contains("create"))
    {
        <h1 data-test-selector="hdgContentWidget">@string.Format(@Admin_Resources.TitleAdd, "Content Widget")</h1>
    }
    else
    {
        <h1 data-test-selector="hdgContentWidget">@string.Format(@Admin_Resources.TitleEdit, "Content Widget")<i class="z-minus"></i><span>@Model.Name</span></h1>

    }
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
    </div>
</div>

<section class="col-sm-12 page-container">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCreateContentWidget" }))
    {
        <div class="content-widget-section">

            <h3 class="section-heading margin-bottom-20 padding-bottom">General Information</h3>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(x => x.IsGlobalContentWidget, new { @data_test_selector = "lblGlobal" })
                    </div>
                    <div class="control-md dirtyignore">
                        <label>
                            @if (Model.ContentWidgetId > 0)
                            {
                                <input @(Model.IsGlobalContentWidget ? "checked='checked'" : "") id="IsGlobalContentWidget" name="IsGlobalContentWidget" type="checkbox" data-test-selector="chkIsGlobal" onchange="ContentWidget.prototype.IsGlobal()" disabled="disabled">
                            }
                            else
                            {

                                <input @(Model.IsGlobalContentWidget ? "checked='checked'" : "") id="IsGlobalContentWidget" name="IsGlobalContentWidget" type="checkbox" data-test-selector="chkIsGlobal" onchange="ContentWidget.prototype.IsGlobal()">

                            }
                            <span class="lbl padding-8" for="IsGlobalContentWidget" data-test-selector="spnIsGlobal"></span>
                            <input name="IsGlobalContentWidget" type="hidden" value="false">
                        </label>
                        @Html.Partial("_HelpText", Admin_Resources.HelpTextContentWidget)
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(x => x.PortalId, new { @class = "required", @data_test_selector = "lblPortal" })
                    </div>
                    <div class="control-md dirtyignore">
                        <div id="areaList" class="portalsuggestion">
                            @if (Model.ContentWidgetId > 0)
                            {
                                @Html.TextBoxFor(model => model.StoreName, new { @placeholder = Admin_Resources.LabelSelectStore, @readonly = "readonly", @data_test_selector = "txtStoreName" })
                            }
                            else
                            {
                                @Html.FastSelectFor(model => model.StoreName, model => model.PortalId, "GetSuggestions", "Typeahead", "ContentWidget.prototype.OnSelectPortalResult", 1, true,
                                new
                                {
                                   htmlAttributes = new { @placeholder = Admin_Resources.LabelSelectStore, @class = "", @id = "txtPortalName", @data_test_selector = "txtStoreName" },
                                   parameters = new { @type = ZnodeTypeAheadEnum.StoreList.ToString() }
                                })
                            }
                            @Html.ValidationMessageFor(model => model.StoreName, null, new { id = "errorRequiredStore", @data_test_selector = "valStore" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(m => m.WidgetKey, new { @class = "required", @data_test_selector = "lblWidgetKey" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @if (Model.ContentWidgetId > 0)
                            {

                                @Html.TextBoxFor(m => m.WidgetKey, new { @data_test_selector = "txtWidgetKey", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.WidgetKey, new { @data_test_selector = "txtWidgetKey" })

                            }
                            @Html.ValidationMessageFor(model => model.WidgetKey, "", new { @data_test_selector = "valWidgetKey", @id = "errorSpanWidgetKey" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(m => m.Name, new { @class = "required", @data_test_selector = "lblWidgetKey" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextBoxFor(m => m.Name, new { @data_test_selector = "txtWidgetKey", @id = "WidgetName" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @data_test_selector = "valWidgetKey" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(m => m.Tags, new { @data_test_selector = "lblWidgetTag" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextAreaFor(m => m.Tags, new { @data_test_selector = "txtWidgetTag" })
                            @Html.ValidationMessageFor(model => model.Tags, "", new { @data_test_selector = "valWidgetTag" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(m => m.FamilyCode, new { @data_test_selector = "lblFamilyName", @class = "required" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @if (Model.ContentWidgetId > 0)
                            {
                                @Html.TextBoxFor(m => m.FamilyName, new { @data_test_selector = "txtFamilyName", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.FamilyCode, Model.WidgetFamilies, new { @id = "drpFamilyName", @data_test_selector = "drpFamilyName" })
                            }

                            @Html.ValidationMessageFor(model => model.FamilyCode, "", new { @data_test_selector = "valFamilyName" })
                        </div>
                    </div>
                </div>
            </div>


            @if (Model.ContentWidgetId > 0)
            {

                <h3 class="section-heading content-widget-heading margin-bottom-20 padding-top padding-bottom">Content Widget Variant</h3>


                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">
                            <label class="required" data-test-selector="lblAddVariantFor">Variant for</label>
                        </div>
                        <div class="control-md">
                            <div id="areaList">
                                <select id="ddlWidgetVariants" data_test_selector="drpWidgetVariants" onChange="ContentWidget.prototype.GetAssociatedAttributes()">
                                    @foreach (var item in Model.WidgetVariants)
                                    {
                                        <option value="@item.WidgetProfileVariantId" data-template="@item.WidgetTemplateId">Variant For @item.ProfileName And @item.LocaleName</option>
                                    }
                                </select>
                            </div>


                        </div>
                        <div class="pull-left padding-left">
                            <a id="getVariants" onclick="ContentWidget.prototype.GetVariants();" class="btn-text btn-text-secondary dirtyignore" data-test-selector="btnGetVariants">ADD NEW</a>
                        </div>
                        <div class="btn-container" id="variantAttributeData" style="display:none;">
                            <div class="pull-right padding-left">
                                <a id="btnDeleteVariant" class="btn-text btn-text dirtyignore" data-test-selector="btnDeleteVariant" onclick="ContentWidget.prototype.DeleteWidgetVariant();" style="margin:5px;">DELETE VARIANT</a>
                                <a id="btnSaveVariant" class="btn-text btn-text-secondary dirtyignore" data-test-selector="btnSaveVariant" onclick="ContentWidget.prototype.SaveEntityAttribute();" style="margin:5px;">SAVE VARIANT</a>
                            </div>
                        </div>
                    </div>
                </div>             

            }
        </div>
        @Html.HiddenFor(x => x.PortalId)
        @Html.HiddenFor(x => x.WidgetKey)
        @Html.HiddenFor(x => x.ContentWidgetId)
    }

    @if (Model.ContentWidgetId > 0)
    {
        <div class="form-group">
            <div class="col-sm-12 nopadding" id="variantWidgetTemplate" style="display:none;">
                <div class="control-label">
                    @Html.LabelFor(m => m.TemplateName, new { @data_test_selector = "lblTemplateName", @class = "required" })
                </div>
                <div class="control-md">
                    <div id="areaList">
                        @Html.DropDownListFor(x => x.WidgetTemplateId, Model.WidgetTemplates, new { @id = "drpwidgetTemplate", @data_test_selector = "drpWidgetTemplate", onChange = "ContentWidget.prototype.OnTemplateChange()" })

                        @Html.ValidationMessageFor(model => model.WidgetTemplateId, "", new { @data_test_selector = "valWidgetTemplate", id = "errorRequiredTemplate" })
                    </div>
                </div>
            </div>
        </div>
    }
    </section>

<div id="VariantPanel" class="aside-popup-panel modal-dialog " width="10000"></div>
<div id="AssociatedGroups" class="col-sm-12 associated-group"></div>
<div>
    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                               new PopupModel()
                               {
                                   Title = @Admin_Resources.HeaderConfirmDelete,
                                   Description = Admin_Resources.DeleteVariant,
                                   ModalPopUpId = "DeleteWidgetVariant",
                                   Buttons = new List<PopUpButtonModel>() {
                                   new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, OnClickFunctionName = "ContentWidget.prototype.DeleteVariant()" },
                                   }
                               })
</div>
<script src="~/Scripts/References/DynamicValidation.js"></script>
<script>
    $(document).ready(function () {
        ContentWidget.prototype.GetAssociatedAttributes();
        if ($("#ddlWidgetVariants").val() === null) {
            $('#ddlWidgetVariants').append($(`<option value="" data-template = "" ><text>No Variants Are Defined</text></option>`));

            $("#ddlWidgetVariants").attr("disabled", "disabled");

        }
        $("#frmGlobalAttribute").find('.panel-collapse').first().attr("style", "display:block")
    });
</script>