﻿@{
    ViewBag.Title = "SiteMap";
}
<div id="layout-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 site-map-container">
                <div class="col-xs-12 col-md-12 col-lg-12 nopadding">
                    <h1 class="page-title" data-test-selector="lblSiteMapHeading">SITE MAP</h1>
                </div>
                <div class="col-xs-12  col-sm-3 col-md-12 col-lg-12  nopadding">
                    <h5 class="section-header" data-test-selector="lblSiteMapContentPageHeading">Content Pages</h5>
                    <ul id="SiteMapMenu"></ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-12 nopadding category-list">
                    <h5 class="section-header" data-test-selector="lblSiteMapCatalogHeading">Catalog Map</h5>
                    <ul id="ulCatelogMap"></ul>
                    </br>
                    <div id="divCatelogMap">
                        <button data-test-selector="btnLoadMore" onclick="SiteMap.prototype.LoadCatalog(1,1)" class="btn btn-primary">Load More</button>
                    </div>
                </div>
                </br>
                <div class="col-xs-12 col-sm-3 col-md-12 col-lg-12 nopadding category-list">
                    <h5 class="section-header" data-test-selector="lblSiteMapProductHeading">Products Map</h5>
                    <ul id="ulProductMap"></ul>
                    </br>
                    <div id="divProductMap">
                        <button data-test-selector="btnLoadMore" class="btn btn-primary" onclick="SiteMap.prototype.CheckAndBindProducts(2,200)">Load More</button>
                    </div>
                    </br>
                </div>
            </div>
        </div>
    </div>
</div>

