﻿@using Znode.Engine.Admin.Models
@model GridModel

@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id=@Model.FrontObjectName>
    <div id="aside-popup-panel">
        <!--Main Container-->
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.HeaderAssociateProducts</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon margin-bottom" data-test-selector="linkCancel" onclick="ZnodeBase.prototype.CancelUpload('divtaxProductListPopup')"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" data-test-selector="linkSave" onclick="TaxClass.prototype.AddSKUs()">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding">
                <div class="taxClassMessageBoxContainer text-center margin-bottom" data-test-selector="divTaxClassMessageBoxContainer" id="taxClassMessageBoxContainerId" data-message=""></div>
            </div>
            @using (Ajax.BeginForm("ProductList", "TaxClass", new AjaxOptions() { UpdateTargetId = @Model.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.FilterColumn)
                </div>
            }           
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model)
                }
            </div>
        </div>
    </div>
</div>

<script> 
    ZnodeBase.prototype.AddClassToImageColumn('@Model.FrontObjectName');
    ZnodeBase.prototype.SetNoImageForList();
</script>