﻿@using Znode.Engine.Admin.ViewModels;
@model ProductDetailsListViewModel
@using Znode.Engine.Admin.Models
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@PIM_Resources.AssociateProducts</h1>
            <div class="pull-right" id="divSaveCancel">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('UnassociatedProductAsidePannel')"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right" id="divSave">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Products.prototype.AssociateProducts('@Model.GridModel.FrontObjectName')">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="asidePannelmessageBoxContainerId" style="display:none">
                <div class="col-sm-12 text-center error-msg margin-bottom" style="position:relative;">@PIM_Resources.ErrorSelectProduct</div>
            </div>
            @using (Ajax.BeginForm("GetUnassociatedConfigureProducts", "Products", new { parentProductId = Model.ParentProductId, attributeIds = Model.AssociatedConfigureAttributeIds, associatedProductIds = Model.AssociatedProductIds }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }            
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>

<script>
    DynamicGrid.prototype.ClearCheckboxArray();
    Products.prototype.ShowHideSaveCancelButton();
    $("#UnassociatedProductAsidePannel").find("table th:eq(0)").text("");
    $("#UnassociatedProductAsidePannel").find('.disabled-checkbox').closest('tr').css('background-color', '#d9edf7');
    $("#UnassociatedProductAsidePannel").find('.disabled-checkbox').closest('input').attr('disabled', true);
    ZnodeBase.prototype.SetNoImageForList();
    ZnodeBase.prototype.AddClassToImageColumn('@Model.GridModel.FrontObjectName');
    //Products.prototype.UnassociatedProductsCheck();
</script>