﻿@using Znode.Engine.Admin.Models
@model GridModel

@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="aside-popup-panel">
    <div id=@Model.FrontObjectName>
        <!--Main Container-->
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 title-container">
                <h1>@PIM_Resources.TitleProduct</h1>
                <div class="pull-right">                    
                    <button type="button" class="btn-text-icon" onclick="Shippings.prototype.AddSKUs()"><i class="z-save" data-test-selector="btnSave"></i>@Admin_Resources.ButtonSave</button>
                    <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divShippingProductListPopup')"><i class="z-cancel" data-test-selector="btnCancel"></i>@Admin_Resources.ButtonCancel</button>
                </div>
            </div>
            <div class="col-sm-12 filter-component page-container">
                @using (Ajax.BeginForm("ProductList", "Shippings", new AjaxOptions() { UpdateTargetId = @Model.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
            <div class="col-sm-12 nopadding notification-msg" id="body">
                <div class="shippingMessageBoxContainer error-msg text-center" id="shippingMessageBoxContainerId" data-message=""></div>
            </div>
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model)
                }
            </div>
        </div>
    </div>
</div>

