﻿@using CaptchaMvc.HtmlHelpers

<div class="col-xs-12 nopadding captcha-panel">
    @Html.Captcha("Refresh", "Captcha Code", 5, WebStore_Resources.RequiredCaptchaCode, true)
    <label for="CaptchaInputText">
        <span hidden>
            Captcha Code
        </span>
    </label>
</div>
<script>
    $("#CaptchaDeText").next().next("a").attr("href", "")
    $("#CaptchaDeText").next().next("a").attr("onclick", "" + $("#CaptchaDeText").next().next("a").attr("onclick") + ";return false;" + "")
    document.getElementById("CaptchaInputText").setAttribute("maxlength", 5);
    $(document).ready(function () {
        $('#CaptchaImage').attr('alt', 'Captcha');
        $('#CaptchaImage').attr('title', 'Captcha');
    })
</script>

