﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetBrandListViewModel
@if (Model?.Brands?.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col brand-title">
                <h2 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Brands)</h2><span>@Html.RenderMessage("ViewAllBrands")</span>
            </div>
        </div>
    </div>

    <div class="container position-relative">
        <div class="row">
            <div class="col-12 brand-list-widget mt-3">
                <ul id="view-option-category" class="owl-carousel">
                    @foreach (var brand in Model.Brands)
                    {
                        if (!Equals(brand.BrandViewModel, null) && brand.BrandViewModel.IsActive)
                        {
                            <li>
                                <a href="@Url.GetBrandUrl(brand.BrandViewModel.SEOFriendlyPageName, null, brand.BrandViewModel.BrandId)" data-lightbox="enlarge">
                                    <img src="@brand.BrandViewModel.ImageSmallPath" class="img-fluid" data-src="@brand.BrandViewModel.ImageSmallPath" alt="brand" />
                                </a>
                                <br />
                                <a href="@Url.GetBrandUrl(brand.BrandViewModel.SEOFriendlyPageName, null, brand.BrandViewModel.BrandId)" data-lightbox="enlarge">
                                    <label>@brand.BrandViewModel.BrandName</label>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <script>
        $("#view-option-category").owlCarousel({ autoPlay: !1, navigation: true, mouseDrag: false, items: 6, itemsCustom: [[0, 2], [320, 2], [480, 2], [600, 2], [768, 3], [992, 4], [1200, 6]], navigationText: ["<span class='left-icon'></span>", "<span class='right-icon'></span>"] });
    </script>
}