﻿//All Global Code Such as Basic HTML, Button, Dropdown, Multiselect dropdown, Input Field, Chackbox & Redio Button, ToolTip, Loader, Yes No Switch, Collapse Panel, Auto Complete, Alerts, Aside Panel.

// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');src: url('../../fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../fonts/Roboto-Regular.svg') format('svg');src: url('../../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');src: url('../../fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../fonts/Roboto-Medium.svg') format('svg');src: url('../../fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.ttf') format('truetype'); src: url('../../fonts/Roboto-Light.eot') format('embedded-opentype');
    src: url('../../fonts/Roboto-Light.svg') format('svg'); src: url('../../fonts/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');src: url('../../fonts/RobotoCondensed-Regular.eot') format('embedded-opentype');
    src: url('../../fonts/RobotoCondensed-Regular.svg') format('svg');src: url('../../fonts/RobotoCondensed-Regular.woff') format('woff');
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../../fonts/RobotoCondensed-Light.ttf') format('truetype'); src: url('../../fonts/RobotoCondensed-Light.eot') format('embedded-opentype');
    src: url('../../fonts/RobotoCondensed-Light.svg') format('svg');src: url('../../fonts/RobotoCondensed-Light.woff') format('woff');
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../../fonts/RobotoCondensed-Bold.ttf') format('truetype');src: url('../../fonts/RobotoCondensed-Bold.eot') format('embedded-opentype');
    src: url('../../fonts/RobotoCondensed-Bold.svg') format('svg');src: url('../../fonts/RobotoCondensed-Bold.woff') format('woff');
}

html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  color:$text-fgcolor-default;
  @include -webkit-text-size-adjust;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color:$base-bglogin-color;
}

.nopadding{padding:0; margin:0;}
.nomargin {margin:0 !important;}
.required:after {content:' * '; color:$required-star;}

a{
  outline: medium none !important;text-decoration:none!important;color:darken($base-color-secondary, 10%);cursor:pointer;
  &:hover{outline: medium none;text-decoration:none;color: $base-color-secondary;}
}

h1,h2,h3,h4,h5,h6{
  color:$base-color-primary;
  font:{        
    family:$base-font-family-bold;
  }
}
h1 { margin: 5px 0; font-size: $base-font-size + 12; }
h2 { margin: 5px 0; font-size: $base-font-size + 9; }
h3 { margin: 5px 0; font-size: $base-font-size + 6; }
h4 { margin: 5px 0; font-size: $base-font-size + 4}
h5 { margin: 4px 0; font-size: $base-font-size + 3;}
h6 { margin: 4px 0; font-size: $base-font-size + 2; }
label{margin-bottom:0;}
.dropdown-menu{border-radius:0;}
.padding-20{padding:20px;}
.padding-top{padding-top:10px;}
.padding-top-20{padding-top:20px;}
.padding-bottom{padding-bottom:10px;}
.padding-top-bottom{padding-top:10px;padding-bottom:10px;}
.padding-top-bottom-20{padding-top:20px;padding-bottom:20px;}
.padding-left{padding-left:10px;}
.padding-right{padding-right:10px;}
.padding-top-15{padding-top:15px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-right-15{padding-right:15px;}
.padding-left-15{padding-left:15px;}
.padding-left-20{padding-left:20px;}
.padding-rl-5 { padding: 0 5px !important;}
.margin-bottom-8{margin-bottom:8px;}
.margin-top-8{margin-top:8px;}
.margin-top{margin-top:10px;}
.margin-top-5{margin-top:5px;}
.margin-top-12{margin-top:12px;}
.margin-bottom{margin-bottom:10px;}
.margin-bottom-5{margin-bottom:5px;}
.margin-top-bottom{margin-top:10px;margin-bottom:10px;}
.margin-right{margin-right:5px;}
.margin-right-9{margin-right:9px;}
.margin-top-25{margin-top:25px;}
.margin-bottom-25{margin-bottom:25px;}
.margin-top-15{margin-top:15px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-top-20{margin-top:20px;}
.margin-right-15{margin-right:15px;}
.margin-left-20{margin-left:20px;}
.margin-left-15{margin-left:15px;}
.margin-left-10{margin-left:10px;}
.margin-left-30{margin-left:30px;}
.margin-left-0{margin-left:0px !important}
.margin-left-9{margin-left:9px;}
.margin-7{margin:7px;}
.login-font-size-14{font-size:14px;}
.display-none{display:none;}
.pointer-none{pointer-events:none;}
.padding-right-5{padding-right:5px;}
.px-4 {
    padding: 0 2.5rem;
}
.pb-2{
    padding-bottom:2px;
}

.error-msg,.field-validation-error,.field-validation-error span{color:$error-msg-fgcolor;float:left;width:98%;font-size:12px;font-family:$base-font-family;}
.messageBoxContainer{margin:5px 0;}
.success-msg{color:$success-msg-fgcolor;}
.input-validation-error{border: 1px solid $error-msg-fgcolor !important;}
.field-validation-valid,.validation-summary-valid{display:none;}
.dynamic-msg{float:left;padding-left:170px;width:100%;}
.validation-float{float:none!important;}
.sub{font-size:11px;display:block;color:#a0a0a0;}
.address-size{font-size:14px;}

.btn-boost-bury{ 
    #caret-btn, #dropdown-lst{ display:none;}
     #dvSave {border:none;  margin-bottom:5px}
}

.caret-color{color:$base-color-white;}

// Input Field.
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"] { 
  @include input-field;
  height:34px;
}
input[type=number] {-moz-appearance:textfield;-webkit-appearance:textfield;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {-webkit-appearance:none; -moz-appearance: none; appearance: none;}
}
textarea {
  @include input-field;
  resize: none;overflow-y: auto;
}
html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color: #efefef;}

// Input Fields Inner Icons.
.left-inner-icon {position: relative;
    input{padding-left: 36px;}
    i {position: absolute;padding: 8px 5px;height:24px;pointer-events: none;top:0;color:$base-color-secondary;line-height:4px;}
    .unit{background-color:$base-color-quaternary; color:$base-color-white;width:32px;height:34px; text-align:center;line-height:18px;}
    .unit-text{background-color:$base-color-quaternary; color:$base-color-white;width:50px;height:34px;text-align:center;padding:7px 5px;font-size:14px;line-height:18px;}
}
.right-inner-icon {position: relative;
    input {padding-right: 36px;}
    i {position: absolute;right: 0;top:0;padding:10px;height:24px;pointer-events: none;color:$base-color-secondary;line-height:14px;}
    .unit{background-color:$base-color-quaternary; color:$base-color-white;width:32px;height:34px; text-align:center;line-height:18px;}
    .unit-text{background-color:$base-color-quaternary; color:$base-color-white;width:50px;height:34px;text-align:center;padding:7px 5px;font-size:14px;line-height:18px;}
}

// Checkbox & Radio Button.
input[type=checkbox],input[type=radio]{opacity:0 !important;position:absolute;z-index:12;width:18px;height:18px;cursor:pointer;margin:0;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;cursor:pointer;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{z-index:11;display:inline-block;margin:0;/*line-height:20px;*/min-height:14px;min-width:14px;font-weight:normal;cursor:pointer;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl::before{font-family:Glyphicons Halflings;font-weight:normal;font-size:11px;color:$base-color-secondary;content:"\a0";background-color:#fafafa;border:2px solid $base-color-primary;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:2px;display:inline-block;text-align:center;vertical-align:baseline;height:15px;line-height:9px;min-width:16px;margin-right:1px; margin-top: -5px;}
input[type=radio]+.lbl::before{font-family:Glyphicons Halflings;font-weight:normal;font-size:11px;color:$base-color-secondary;content:"\a0";background-color:#fafafa;border:1px solid $border-bgcolor-primary;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:baseline;height:16px;line-height:15px;min-width:16px;margin-right:1px; margin-top: -6px;}
input[type=radio]+.lbl::before{vertical-align:middle;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\e013';background-color:$base-color-secondary;border-color:$base-color-secondary;color:$base-color-white;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);cursor:pointer;}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{/*border-color:$border-bgcolor-primary;*/cursor:pointer;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{/*box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);*/}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:$border-bgcolor-default !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:$base-font-family;font-size:34px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}

.disabled-checkbox{pointer-events:none !important;cursor:not-allowed;
      &:before{pointer-events:none !important;background-color:$base-color-tertiary !important;color:$base-color-tertiary !important;}      
}

// ToolTip.
.tooltip {font-family:$base-font-family;font-size:11px;position:fixed;z-index:9999;}
.tooltip.in {opacity:1;filter:alpha(opacity=100);}
.tooltip-inner {color:$base-color-white;background-color:$base-color-quaternary;opacity:0.8;border-radius:0;}
.tooltip.top .tooltip-arrow {border-top-color: $base-color-quaternary;}
.tooltip.top-left .tooltip-arrow {border-top-color: $base-color-quaternary;}
.tooltip.top-right .tooltip-arrow {border-top-color: $base-color-quaternary;}
.tooltip.right .tooltip-arrow {border-right-color: $base-color-quaternary;}
.tooltip.left .tooltip-arrow {border-left-color: $base-color-quaternary;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: $base-color-quaternary;}
.tooltip.bottom-left .tooltip-arrow {border-bottom-color: $base-color-quaternary;}
.tooltip.bottom-right .tooltip-arrow {border-bottom-color: $base-color-quaternary;}

// Loader.
.loader-container{z-index:100;padding:0 5px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);transform:-ms-translate(-50%, -50%);transform:-webkit-translate(-50%, -50%);
    .loader {margin:40px auto;width:100px;text-align:center;
             .circle {width:20px;height:20px;margin:0 4px;background-color:$base-color-primary;border:1px solid $base-color-white; box-shadow:0 0 15px rgba(255, 255, 255, 0.5); border-radius: 100%;display: inline-block;-webkit-animation: loader 1.6s ease-in-out 0s infinite both;animation: loader 1.6s ease-in-out 0s infinite both; }
             .circle-one {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
             .circle-two {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
    }

@-webkit-keyframes loader {
  0%, 80%, 100% {-webkit-transform: scale(0);transform: scale(0); }
  40% {-webkit-transform: scale(1);transform: scale(1); } }

@keyframes loader {
  0%, 80%, 100% {-webkit-transform: scale(0);transform: scale(0); }
  40% {-webkit-transform: scale(1);transform: scale(1); } }
}
.loader-wrapper-box {
    animation-duration: 500ms;

    .loader-container {
        z-index: 100;
        padding: 0 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);

        .loader {
            margin: 15px auto;
            width: 100px;
            text-align: center;

            .circle {
                width: 20px;
                height: 20px;
                margin: 0 4px;
                background-color: $base-color-primary;
                border: 1px solid $base-color-white;
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: loader 1.6s ease-in-out 0s infinite both;
                animation: loader 1.6s ease-in-out 0s infinite both;
            }

            .circle-one {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .circle-two {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }
        }
    }
}
.overlay,.ui-widget-overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999;}
.overlay{z-index:99999;}
.overlay-boxed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.82);
}

.drop-panel-overlay{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.5);z-index:1000;}

// Yes No Switch.
.switch-field {overflow: hidden;margin-top:1px;
    input {display:none;}
    label {float:left;display:inline-block;width:40px;height:34px;font-weight:normal !important;background-color:$base-color-white;color: $base-color-primary;line-height:30px !important;text-align: center;text-shadow: none;padding: 1px;border: 1px solid $border-bgcolor-primary;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition:all 0.1s ease-in-out;
       &:hover {cursor: pointer;}
       &:first-of-type {border-top-left-radius:3px;border-bottom-left-radius:3px;color:$base-color-primary;border-right:none;}
       &:last-of-type {border-bottom-right-radius:3px;border-top-right-radius:3px;color:$base-color-primary;}
    }
}
.switch-title {margin-bottom:6px;}
.switch-field input:checked + label {background-color:#6b747c;color:$base-color-white; -webkit-box-shadow: none;box-shadow: none;}

// Collapse Panel.
.panel-heading{padding:0;
    h4{padding:15px 15px 15px 20px;cursor:pointer;font-size:16px;font-family:$base-font-family;font-weight:bold;color:$base-color-primary;}
}
.panel-body{padding:20px 15px 20px 25px;border-top: 1px solid $border-bgcolor-default;}
.panel-heading .accordion-toggle:after {font-family:$znode-icon-font;content:"\f106";float: right;color: grey;font-size:20px;}
.panel-heading .accordion-toggle.collapsed:after {content:"\f107";font-size:20px;}
.panel{ border-radius:0;box-shadow:0px 5px 8px -5px $box-border-shadow;margin-bottom:10px;border:solid 1px $border-bgcolor-default;
.panel-heading{border-bottom:0;background:$base-color-white;
    .accordion-toggle:after{margin-top:-3px;}}
}

// Auto Complete.
.ui-autocomplete {position:absolute;top:0;left:0;cursor:default;max-height:200px;overflow:auto;padding:0;margin:0;background-color:$base-color-white;border:1px solid $border-bgcolor-primary;z-index:999999;
    li{list-style:none;padding:3px 15px 3px 10px;cursor:pointer;color:$text-fgcolor-default;font-family:$base-font-family-bold;vertical-align:middle;
       &:hover{background-color:$base-color-tertiary;}
    }
}
.ui-helper-hidden-accessible{display:none;}

// Alerts.
.notification-msg{z-index:1000;text-align:center;
    .alert{position:absolute;left:50%;padding:5px;line-height:21px;border-radius:0;min-height:36px;width:auto;min-width:235px;max-width:550px;margin:15px auto 0;display:inline-block;transform:translate(-50.5%);transform:-ms-translate(-50.5%);transform:-moz-translate(-50.5%);transform:-webkit-translate(-50.5%);
           p{padding-left:10px;padding-right:30px;}
           .close{opacity:1;position:absolute;top:6px;right:10px;}
    }
    .alert-danger{border:1px solid #d8929c;
        .close{color:$required-star;}
    }
    .alert-success{border:1px solid #5cb85c;
        .close{color:#5cb85c;}
    }
    .alert-info{border:1px solid #79cff7;
        .close{color:#79cff7;}
    }
}
// Input Field 
.disable-anchor{color:#ddd;cursor:not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor:not-allowed;pointer-events:none;}

//generalize css cache management
.cache-management-block{vertical-align:top;
    .cache-check-block{
        .cache-checkbox{vertical-align:middle;padding-bottom:7px;}
    }
    .btn-text{margin-left:0;}
}

#ZnodePromotionBrandDetails table tr th:first-child, #PublishedCatelogList tr th:first-child, #ZnodePromotionShippingDetails tr th:first-child { padding-left: 22px !important;}

.inventory-add-keys .btn-narrow-icon{width:30px;padding:0;height:34px;width:34px;line-height:24px;}
#AssociateCategorytToSpecialOffer,#AssociateBrandToSpecialOffer{.notification-msg{padding-top:5px;width:100%;}}
.scheduler-status .notification-msg{top:-4px !important;}

#ProductPrice .btn-text-icon{color:$base-color-primary;
    i{color:$base-bgcolor-button;}
}
#ZnodeAccountUnAssociatedCustomer table tr th:first-child, #ZnodePortalBrandAssociatedList table tr th:first-child, #UnassociateAddonGroupList table tr th:first-child, #ZnodeUnAssociatedSearchAttributes table tr th:first-child, #UnassociatedSortListToPortal table tr th:first-child, #UnassociatedPageListToPortal table tr th:first-child, #UnAssociatedCMSOfferPageProduct table tr th:first-child, #ZnodeSearchProfilePortal table tr th:first-child, #UnAssociatedCategoriesToProduct table tr th:first-child, #ZnodeUserUnAssociatedProfiles table tr th:first-child, #UnAssociatedCategoriesToCatalog table tr th:first-child, #UnAssociatedProductsToCatalog table tr th:first-child, #ZnodeUnAssociatedShippingList table tr th:first-child, #ZnodePortalTaxClassAssociatedList table tr th:first-child, #UnAssociatedPortalCountry table tr th:first-child, #ZnodeUserUnAssociatedProfiles table tr th:first-child, #UnAssociatedProfileCatalogList table tr th:first-child, #AssociatedProductList table tr th:first-child, #UnassociatedPaymentListToPortal table tr th:first-child, #ZnodeUnAssociatedSearchAttributes table tr th:first-child #UnassociateAddonGroupList table tr th:first-child, #UnAssociatedPriceList table tr th:first-child, #PublishedCategoryList table tr th:first-child, #PublishedProductList table tr th:first-child, #PublishedCatelogList table tr th:first-child, #UnassociatedSortListToPortal table tr th:first-child, #View_UnassignZnodeTouchPointConfiguration table tr th:first-child {
    padding-left: 22px !important;
}
.profiles-getprofilecataloglist .aside-popup-panel #UnAssociatedProfileCatalogList .list-container .gridcontrol-table {
    .table {
        thead {
            tr th {
                padding-left: 22px !important;
            }
        }

        tbody tr td {
            padding-left: 22px !important;
        }
    }
}

.store-getsearchsetting{#AssociatedPageListToPortal,#AssociatedSortListToPortal {.table tbody tr td label{cursor:pointer;}}}
#ProductPrice .btn-text-icon:hover {
  color: $base-bgcolor-button;
}
#RedirectURLLable{overflow:hidden;}
.PendingPaymentList {
    .table thead tr th:nth-child(2) {padding-left:15px;}
    .table tbody tr td:nth-child(2){padding-left:15px;}
    .grid-checkbox{display:none;}
}
.user-cart-products .cart-summary
{   min-height:50px !important;
          label{padding-left:20px;}
} 
.dirty-proceed{margin-right:10px;}

.tracking-input .help-text{ line-height:65px;}
//Global Attribute Group 
.assigned-attribute .dynamic-grid .grid-control{display:none;}
.GetIntegrationLogMessage{.control-md span{line-height:36px;}}
.GetDatabaseLogMessage{.control-md span{line-height:36px;}}
.GetEventLogMessage{.control-md span{line-height:36px;}}
.GetLogMessage {
    .log-message-block,.stack-message-block {
        .control-md textarea{resize:both !important;}
    }
    .control-md span{line-height:36px;}
}
.generalsetting-getanalyticsdata{ .analytics-json-field textarea {
resize: both !important;
}
}
.productattribute-edit .switch-field {
    margin-bottom: 5px;
}
button[readonly]{background-color:$base-color-primary;}
.generalsetting-publishsettings {
    .gridcontrol-table table{ 
        thead tr th:first-child{display:none;}
        tbody tr td:first-child{display:none;}
    }
}
.import-list {
   .grid-import-one{width:75%;float:left;}
   .import-table{width:25%;float:right;
       .import-grid-table tr{ 
	        td{height:34px;border:1px solid $grid-border-color;}
            .import-value{padding-left:25px !important;background:$base-color-white;}
            .import-field{background:rgba(242, 245, 245, 0.8);}
       }
   }
}
.scheduler-status .catalog-schedular-block {
    .timepicker-hours,.timepicker-minutes{
          .table-condensed{
            margin:10px !important;
            .minute,.hour{padding:10px!important;}
           }
    }
}
.generalsetting-getcachemanagementdata .form-group .control-label {
    width: 210px;
}
.generalsetting-getconfigurationsettings .form-group .control-label{
    width: 260px;
}
.robot-section .form-group .control-label {
    width: 200px;
}
.shipping-orgin-form .form-group .control-label{width:200px;}
#portalpayment .payment-portal{border:1px solid $border-bgcolor-primary;padding:15px;margin-bottom:25px;}
.store-updatestore .store-checkbox .help-text i[data-original-title=""] {
    display: none;
}
.ShippingRuleList .shipping-modal{display:flex;justify-content:space-between;align-items:center;}
@import "controls/_button.scss";
@import "controls/_dropdown.scss";
@import "controls/_dynamic-grid.scss";
@import "controls/_dynamic-tab.scss";
@import "controls/_datepicker.scss";    
@import "controls/_modal-popup.scss";
@import "controls/_tag-input.scss";
@import "controls/_form-builder.scss";
@import "_icons.scss";

// Bootstrap container code override to avoid responsive approach on browser(For Tab And Mobile View).
@media (max-width: 991px) {
  .container,body,html,header{width:970px !important;}
}
@include screensize(medium) {
    .modal-xl {width: 900px;}
     .productfeed-edit,.CreateProductFeed{
        .fstResults{top:auto;bottom:100%;}
    }
     .promotion-edit .title-container h1 span{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:300px;}
}
@include screensize(desktop) {
.btn-text-icon{margin-left:5px;}
  .SEODetailsOfCategory .title-container h1 span{width:350px;}
  .store-urllist .aside-popup-panel .form-group .control-md{width:40%;}
   .promotion-edit .title-container h1 span{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:550px;}
}
@include screensize(large) {
    .modal-xl {width:1100px;}    
}
@include screensize(xlarge) {
    .productfeed-edit,.CreateProductFeed{
        .fstResults{top:100%;bottom:auto}
    }
    .promotion-edit .title-container h1 span{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:700px;}
    .store-urllist .aside-popup-panel .form-group .control-md{width:35%;}
}

.limit-text-chars {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}

.td-break-word {
    word-break: break-all;
    max-width: 500px;
}
.text-break, .text-break * {
    word-break: break-word !important; // IE & < Edge 18
    overflow-wrap: break-word !important;
}
.search-gettabstructureforprofile .gridcontrol-table .table tbody tr td:nth-child(2){
    width: 40%;
}
.review-edit .title-container .product-review-name {
    max-width: 525px;
}

//Marketing -> Product highlights
.add-image .upload-images img.upload-single-image {
    max-height: 146px;
}