﻿@model Znode.Engine.Admin.ViewModels.CountryListViewModel
@using Znode.Engine.Admin.Models
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Libraries.Resources
@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
    string cancelUrl = $"/Store/List";
    string portalName = string.IsNullOrEmpty(Model?.PortalName) ? @Admin_Resources.TitleStore : Model?.PortalName;
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@Model.PortalName</span></h1>
        <div class="pull-right btn-container">
            <a class="btn-text-icon" onclick="window.location.href = '@cancelUrl'" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</a>
            <div class="pull-right padding-left">
                <a id="GetAssociatedCountryListId" class="btn-text btn-text-secondary" value="Create XML" onclick="Store.prototype.GetUnassociatedCountryList(@Model.PortalId)" data-test-selector="linkAssociateCountry">@Admin_Resources.LabelAssociateCountry</a>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div id="associate-store-btn" style="display:none"></div>
        @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm("GetAssociatedCountryList", "Store", new { portalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
        new PopupModel()
        {
            Title = @Admin_Resources.HeaderConfirmDelete,
            Description = @Admin_Resources.TextConfirmDelete,
            ModalPopUpId = "CountryDelete",
            Buttons = new List<PopUpButtonModel>
            () {
            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Store.prototype.UnAssociateCountries(this)"}
            }
        })
            @Html.HiddenFor(x => x.PortalId)
        </section>
    </div>
</div>
<div id="associateCountryList" class="aside-popup-panel modal-dialog modal-lg">
    @*Country list will display in this div*@
</div>