﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model OrdersListViewModel
@using Znode.Engine.WebStore.Agents;
<div id=@Model.GridModel.FrontObjectName class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">My Account</a> / Order History</div>
            </div>
        </div>
    </div>
    <div id="layout-account-orderhistory" class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0">
                                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">
                                        <div class="col-12 filter-component border-bottom d-flex justify-content-between align-items-center flex-wrap">
                                            @using (Ajax.BeginForm("History", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                            {
                                                <div id="filterComponent">
                                                    @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                </div>
                                            }
                                            @using (Html.BeginForm("DownloadPDF", "User", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" id="orderIds" name="orderIds" />
                                                <div id="divInvoice" class="quotebutton pt-2 pt-md-0">
                                                    <button type="submit" id="btnGenerateInvoice" onclick="return User.prototype.GenerateInvoice();" class="btn btn-primary" @((Model.List.Count > 0) ? "" : "disabled")><i class='z-download'></i>@WebStore_Resources.ButtonGenerateInvoice</button>
                                                </div>
                                            }
                                        </div>

                                        <div class="col-12 list-container p-0">
                                            <div class="col-12 p-0">
                                                @Html.Partial("_DynamicGrid", Model.GridModel)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(".zf-manage").attr('class', "cart-icon");
    $(window).on("load", function () {
        User.prototype.HideGridColumnForPODocument();
    });
    $(document).ready(function () {
        ZnodeBase.prototype.onImageError();
    });
</script>